
/* VARIABLES */
$font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif

$body-color: #3D405B
$body-color-light: #8589AD
$subtitle-color: #c5c8ce
$background-color: #FDF7ED
$highlight-color: #F9E5DC
$accent-color: #7E78D2

$green: #81B29A
$red: #E07A5F

/* CUSTOMIZATION */
::selection
  background: $highlight-color !important

.container
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  width: 100%
  height: 100%

  &-content
    flex: 1
    width: 100%

    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

  &-footer
    position: fixed
    padding: 2rem 0
    bottom: 0

.ivu-btn
  & > span
    display: flex
    align-items: center

    .feather
      margin-right: 0.25rem

  &-text
    font-size: 1rem
    font-weight: 500
    color: $body-color-light

    transition: opacity 500ms, color 500ms

    &:disabled
      background: none !important
      color: $subtitle-color

      pointer-events: none

    &:hover
      color: $accent-color
      background: none

    &:focus
      box-shadow: none

.ivu-notice-notice
  color: $body-color
  box-shadow: none

  &-close
    display: none