
/* VARIABLES */
$font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif

$body-color: #3D405B
$subtitle-color: #c5c8ce
$background-color: #FDF7ED

$green: #81B29A
$red: #E07A5F